# Data Treatment

In this notebook we download the data from S3 and do some necessary data treatment to answer the proposed questions.

We save a copy of the treated data as a `parquet` file in the `../files` folder.

## Requirements

Below we install all the extra libraries.

In [1]:
!pip install python-dotenv

Requirement already satisfied: python-dotenv in /usr/local/lib/python3.9/dist-packages (0.21.0)

## Initialization & Loading

We import all the necessary libraries. Notice that we are using the `python-dotenv` library installed above to import the `.env` file located in the parent folder as an environment variable.

In [2]:
from pyspark.sql import SparkSession
import pyspark.sql.types as T
import pyspark.sql.functions as F

import unicodedata
from dotenv import load_dotenv
from pathlib import Path
import os

env_path = str(Path().resolve().parent / ".env")

load_dotenv(dotenv_path=env_path);

Next we connect to the Spark master container. Notice that we also load the packages needed to download data from Amazon S3.

In [3]:
# per docs https://hadoop.apache.org/docs/stable/hadoop-aws/tools/hadoop-aws/index.html#Anonymous_Login_with_AnonymousAWSCredentialsProvider

spark = SparkSession.builder.appName('chatbot').master('spark://spark:7077') \
    .config('spark.jars.packages','org.apache.hadoop:hadoop-aws:3.2.2,com.amazonaws:aws-java-sdk-bundle:1.11.563') \
    .config('spark.hadoop.fs.s3a.aws.credentials.provider', 'org.apache.hadoop.fs.s3a.AnonymousAWSCredentialsProvider') \
    .getOrCreate();

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/local/lib/python3.9/dist-packages/pyspark/jars/spark-unsafe_2.12-3.2.2.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Ivy Default Cache set to: /root/.ivy2/cache
The jars for the packages stored in: /root/.ivy2/jars
org.apache.hadoop#hadoop-aws added as a dependency
com.amazonaws#aws-java-sdk-bundle added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-b5e21858-ab93-42e9-80bf-4092d55882c0;1.0
	confs: [default]

:: loading settings :: url = jar:file:/usr/local/lib/python3.9/dist-packages/pyspark/jars/ivy-2.5.0.jar!/org/apache/ivy/core/settings/ivysettings.xml

	found org.apache.hadoop#hadoop-aws;3.2.2 in central
	found com.amazonaws#aws-java-sdk-bundle;1.11.563 in central
:: resolution report :: resolve 108ms :: artifacts dl 5ms
	:: modules in use:
	com.amazonaws#aws-java-sdk-bundle;1.11.563 from central in [default]
	org.apache.hadoop#hadoop-aws;3.2.2 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   2   |   0   |   0   |   0   ||   2   |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-b5e21858-ab93-42e9-80bf-4092d55882c0
	confs: [default]
	0 artifacts copied, 2 already retrieved (0kB/3ms)
22/09/23 21:41:18 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

Now, we read the data itself from Amazon S3.

In [4]:
df = spark.read.option("sep", ";").option('header', 'true').csv(os.getenv('S3_FILE_PATH'))

22/09/23 21:41:20 WARN MetricsConfig: Cannot locate configuration: tried hadoop-metrics2-s3a-file-system.properties,hadoop-metrics2.properties

A sanity check to see if the data was loaded correctly:

In [5]:
df.show(10)

+------------+--------------------+--------------------+--------------------+-----------+-----------------+-----+------+
|   timestamp|           messageId|      conversationId|              userId|messageText|          channel|botId|source|
+------------+--------------------+--------------------+--------------------+-----------+-----------------+-----+------+
|1614567604.0|210c2f5f-f7b2-406...|40b54398-77db-481...|bf6a4d079b51b73fd...|    começar|         whatsapp| 1567|  user|
|1614567608.0|dd331cbb-4e0c-4f1...|b68806b9-7e79-462...|b0e978871c376ef13...|        olá|         telegram| 1567|  user|
|1614567643.0|bb0c5d93-ffc2-400...|8061e54e-6a39-405...|73c659979af4ae8df...|    começar|         telegram| 1567|  user|
|1614567704.0|4dc4a6b7-535e-4c2...|23ba09a6-b744-466...|a0ab3c262eda9b9a1...|        Olá|         telegram| 1567|  user|
|1614567740.0|643f087f-6a79-4fb...|1389b06a-1bdc-465...|ea0ebd01ce3123bf4...|        ola|facebook messeger| 1567|  user|
|1614567794.0|80594787-d08f-498...|c5e8e013-8f54-4e0...|104512575bda25ae7...|  registrar|         telegram| 1567|  user|
|1614567852.0|998f2154-a5dd-499...|882de74c-8e78-414...|12fec0577e4309bab...|  registrar|         telegram| 1567|  user|
|1614567872.0|4b9f34ae-30c2-4f0...|17d4ebd3-645f-49d...|d104c211a0a2c7b55...|    Comecar|              sms| 1567|  user|
|1614567970.0|fc52d14c-475e-4ef...|1831ce03-4752-437...|c87a510a447ffc957...|    Começar|         whatsapp| 1567|  user|
|1614567986.0|a453b86f-121d-46c...|605127c4-4b18-485...|d3c3fad9f2b258817...|    Comecar|facebook messeger| 1567|  user|
+------------+--------------------+--------------------+--------------------+-----------+-----------------+-----+------+
only showing top 10 rows

Another sanity check: lets see if we have over 50000 rows as claimed by the documentation that was given to us.

In [6]:
print(f'Rows: {df.count()}')

Rows: 516642

It seems that the data was loaded correctly. Let's save the file just to keep it safe.

In [7]:
df.coalesce(1).write.parquet("/app/files/raw_data", mode='overwrite')

## Casting

Since we loaded data from a `CSV` file, it is a best-practice to cast the data in their correct type.

First, let's see the current schema:

In [8]:
df.printSchema()

root
 |-- timestamp: string (nullable = true)
 |-- messageId: string (nullable = true)
 |-- conversationId: string (nullable = true)
 |-- userId: string (nullable = true)
 |-- messageText: string (nullable = true)
 |-- channel: string (nullable = true)
 |-- botId: string (nullable = true)
 |-- source: string (nullable = true)

Per the provided documentation (and as we can see above), the `timestamp` column is in unix epoch. We will cast that column as a 'normal' timestamp and, to help our analysis, we are also going to create a `date` column based on that timestamp.

One other column that we can cast to a different type is `botId`. As seen in the data snippet shown above, the data in this column can be casted as `integer`.

In [9]:
df = df.withColumn('botId', F.col('botId').cast(T.IntegerType())) \
    .withColumn('timestamp', F.from_unixtime('timestamp').cast(T.TimestampType())) \
    .withColumn('date', F.to_date('timestamp'))

In [10]:
df.printSchema()

root
 |-- timestamp: timestamp (nullable = true)
 |-- messageId: string (nullable = true)
 |-- conversationId: string (nullable = true)
 |-- userId: string (nullable = true)
 |-- messageText: string (nullable = true)
 |-- channel: string (nullable = true)
 |-- botId: integer (nullable = true)
 |-- source: string (nullable = true)
 |-- date: date (nullable = true)

With the data casted in their appropriated types, we will register this table in SparkSQL as `chatbot`.

In [11]:
df.createOrReplaceTempView('chatbot')

## Profiling

Before start cleaning the data, let's do some data profiling to check that some of our assumptions about the data are correct.

First, let's see what are the messages sent from the `bot` source (e.g. what are the questions the Chatbot asks).

In [12]:
bot_text = spark.sql("SELECT DISTINCT messageText AS botText FROM chatbot WHERE source = 'bot'")
bot_text.createOrReplaceTempView('bot')
bot_text.show(truncate=False)

+------------------------------------------------------------------+
|botText                                                           |
+------------------------------------------------------------------+
|Quais são seus pokemons favoritos?                                |
|Qual seu nome?                                                    |
|Qual a sua cidade?                                                |
|Qual a sua idade?                                                 |
|Olá, eu sou o robô de cadastro de pokemon favorito, vamos começar?|
+------------------------------------------------------------------+

This information will greatly help our data cleaning.

Now, let's see how many unique users we have:

In [13]:
spark.sql("SELECT COUNT(DISTINCT userId) FROM chatbot").show()

+----------------------+
|count(DISTINCT userId)|
+----------------------+
|                 50000|
+----------------------+

We have exactly 50000 users! Let's see if we have any user that messaged the Chatbot more than once:

In [14]:
spark.sql("SELECT userID, COUNT(DISTINCT conversationId) AS chats FROM chatbot GROUP BY 1 HAVING chats > 1").show()

+------+-----+
|userID|chats|
+------+-----+
+------+-----+

So, each user messaged the Chatbot only once! This means that our final dataset should also have 50000 users.

Finally, let's see if we have users that messaged the Chatbot around midnight - meaning that we may have two different dates for each conversation!

In [15]:
spark.sql('SELECT conversationId, COUNT(DISTINCT date) AS days_chatted FROM chatbot GROUP BY 1 HAVING days_chatted > 1').show(truncate=False)

+------------------------------------+------------+
|conversationId                      |days_chatted|
+------------------------------------+------------+
|eb92107e-c316-4b36-89d0-53e81766eeca|2           |
|f3617919-e96c-47cc-923b-f73262802698|2           |
|737feb49-2823-4fec-b9e4-c903462ade72|2           |
|6e5addb0-2ad0-4899-90ba-645357e96cec|2           |
|2134ef44-9857-41f7-8915-5ed1c26e1266|2           |
|942af949-7871-45d8-a6ed-782e35d3cb2b|2           |
|d02a563a-f503-40cf-947d-86e7fca73994|2           |
|7c67e8b1-e731-4b02-b45e-cf096a36f0f1|2           |
|ec8c5139-1e2f-4e3d-b840-feef51e878d6|2           |
|298b1be2-474a-47e3-8f88-999748e3d5d5|2           |
|8b3dbc95-a826-41f4-8baf-c8383d628b20|2           |
|3c517060-1c1c-4127-a2bd-018bca4d5b5f|2           |
|29dae2d6-e94d-478e-b1c3-7478d9c3e022|2           |
|65736689-8e68-4a22-afcf-5d99baad8e06|2           |
|287e2811-30a5-4bc0-8623-7c2b01e57c86|2           |
|6e785891-4ba4-429f-a7ef-9c0df5121594|2           |
|66c7afd9-b7e1-4bcb-aaaf-8860635e925c|2           |
|701c6a91-de31-482a-b7d0-f52082ccd9ad|2           |
|9e0e6cb2-d2f7-4b82-9963-79a415a3ff4f|2           |
|03021bb2-276f-49fb-852f-26525534a481|2           |
+------------------------------------+------------+
only showing top 20 rows

Yes, we do. In any given metric, we are going to use the date the user **first interacted with the Chatbot** as reference (in other words, `min(date)`.)

## Cleaning

Now we are going to do the heavy lifting. Given the Chatbot questions, our goal by the end of this notebook is to have a dataset where each row has all the data provided by the user in a conversation with the Chatbot:

|  **date**  | **userId** | **conversationId** | **channel** |      **favourite_pokemon**      | **age** |   **city**   |  **botId**  |
|:----------:|:----------:|:------------------:|:-----------:|:-------------------------------:|:-------:|:------------:|:-----------:|
| 2022-01-01 |      A     |          1         |     sms     | [bulbasaur,charmander,squirtle] |    31   |   sao paulo  |     100     |
| 2022-01-01 |      B     |          2         |   whatsapp  |           [pikachu]             |    25   | porto alegre |     101     |
|    ...     |     ...    |         ...        |     ...     |             ...                 |   ...   |     ...      |     ...     |

Notice that we are going to have **only one row** per user and conversation (since those two fields together are a unique identifier). Also, note that the `favourite_pokemon` column is a **array**. This will be useful for future analysis.

Since the `userId`, `conversationId`, `channel` and `botId` are unique across each user interaction and the `date` can be easily calculated (using the earlier definition), we only need to extract the `favourite_pokemon` list and the `age` and `city` of each user. We will do that next by using the Chatbot questions as reference.

### Feature Engineering

To help us to obtain the desired dimensions (`favourite_pokemon`, `age` and `city`), we are going to do some feature engineering first.

We are going to build a table that is going to contain, in one column, **(almost) every question the bot asked** and, in another one, **only the users answers** for said question. We will save that table as `chatbot_treated`.

In [16]:
# we build the "sourceLag" column to avoid having a two rows containing the same information
# whenever the user sent more than one message to answer the Pokémon question. 
# For example, imagine that an user answered that their favourite Pokémon was pikachu, charmander and mew in three different messages.
# Our dataset would look like this:
#
#      messageText      | messageTextAnswer | source | sourceLag
# what is your pokémon? |     pikachu       |   bot  |   user 
#      pikachu          |      null         |  user  |   bot     <- row being excluded since this information was already given in the previous row 
#     charmander        |      null         |  user  |   user
#        mew            |      null         |  user  |   user
#
# Having these two lines with 'pikachu' would affect our data aggregation later.

df = spark.sql(
    """
    WITH prep AS (
    SELECT 
        date,
        timestamp,
        userId, 
        conversationId,
        messageText,
        CASE
            WHEN source='bot' THEN LEAD(messageText) OVER (PARTITION BY userId ORDER BY timestamp ASC)
            ELSE NULL
        END AS messageTextAnswer,
        channel,
        botId,
        source,
        LAG(source) OVER (PARTITION BY userId ORDER BY timestamp ASC) AS sourceLag 
    FROM chatbot 
    )
    
    SELECT 
        date,
        timestamp,
        userId,
        conversationId,
        messageText,
        messageTextAnswer,
        channel,
        botId,
        source    
    FROM prep
    WHERE (messageTextAnswer IS NOT NULL OR sourceLag='user') AND messageTextAnswer NOT IN (SELECT botText FROM bot)
    """)
df.createOrReplaceTempView('chatbot_treated')
df.show(30)

+----------+-------------------+--------------------+--------------------+--------------------+--------------------+-----------------+-----+------+
|      date|          timestamp|              userId|      conversationId|         messageText|   messageTextAnswer|          channel|botId|source|
+----------+-------------------+--------------------+--------------------+--------------------+--------------------+-----------------+-----+------+
|2021-03-12|2021-03-12 07:02:52|0001a55b006e0bada...|e40467df-6f1f-4c4...|   Qual a sua idade?|                  38|              sms| 1567|   bot|
|2021-03-12|2021-03-12 09:43:15|0001a55b006e0bada...|e40467df-6f1f-4c4...|  Qual a sua cidade?|        campo grande|              sms| 1567|   bot|
|2021-03-12|2021-03-12 11:17:30|0001a55b006e0bada...|e40467df-6f1f-4c4...|Quais são seus po...|fearow florges su...|              sms| 1567|   bot|
|2021-03-12|2021-03-12 13:55:51|0001a55b006e0bada...|e40467df-6f1f-4c4...|      Qual seu nome?|              helena|              sms| 1567|   bot|
|2021-04-19|2021-04-19 06:26:14|00037981db6fa4f24...|31fea68a-a79d-445...|  Qual a sua cidade?|            Brasília|        instagram| 1567|   bot|
|2021-04-19|2021-04-19 08:17:31|00037981db6fa4f24...|31fea68a-a79d-445...|      Qual seu nome?|              Lorena|        instagram| 1567|   bot|
|2021-04-19|2021-04-19 09:09:51|00037981db6fa4f24...|31fea68a-a79d-445...|Quais são seus po...|             ninjask|        instagram| 1567|   bot|
|2021-04-19|2021-04-19 14:41:02|00037981db6fa4f24...|31fea68a-a79d-445...|   Qual a sua idade?|                  23|        instagram| 1567|   bot|
|2021-04-15|2021-04-15 11:11:34|0004013912834f551...|b5d4e68c-177d-4fe...|   Qual a sua idade?|                  28|              sms| 1567|   bot|
|2021-04-15|2021-04-15 12:32:37|0004013912834f551...|b5d4e68c-177d-4fe...|  Qual a sua cidade?|              Palmas|              sms| 1567|   bot|
|2021-04-15|2021-04-15 14:23:45|0004013912834f551...|b5d4e68c-177d-4fe...|Quais são seus po...|carnivine hippopotas|              sms| 1567|   bot|
|2021-04-15|2021-04-15 16:43:24|0004013912834f551...|b5d4e68c-177d-4fe...|      Qual seu nome?|         Maria Clara|              sms| 1567|   bot|
|2021-04-02|2021-04-02 07:58:53|00052c60aafed1bee...|a4387219-be30-412...|   Qual a sua idade?|                  55|         whatsapp| 1567|   bot|
|2021-04-02|2021-04-02 08:56:59|00052c60aafed1bee...|a4387219-be30-412...|      Qual seu nome?|           antonella|         whatsapp| 1567|   bot|
|2021-04-02|2021-04-02 09:00:20|00052c60aafed1bee...|a4387219-be30-412...|  Qual a sua cidade?|              suzano|         whatsapp| 1567|   bot|
|2021-04-02|2021-04-02 10:27:03|00052c60aafed1bee...|a4387219-be30-412...|Quais são seus po...|           electrode|         whatsapp| 1567|   bot|
|2021-03-10|2021-03-10 14:19:48|0007a057c85be431b...|7957d94d-1639-451...|  Qual a sua cidade?|           boa vista|facebook messeger| 1567|   bot|
|2021-03-10|2021-03-10 15:30:08|0007a057c85be431b...|7957d94d-1639-451...|Quais são seus po...|barboach, minun, ...|facebook messeger| 1567|   bot|
|2021-03-10|2021-03-10 16:37:29|0007a057c85be431b...|7957d94d-1639-451...|   Qual a sua idade?|                  39|facebook messeger| 1567|   bot|
|2021-03-10|2021-03-10 18:02:23|0007a057c85be431b...|7957d94d-1639-451...|      Qual seu nome?|             joaquim|facebook messeger| 1567|   bot|
|2021-04-28|2021-04-28 09:00:56|0007ebdf52111b7f1...|de116548-c058-48c...|   Qual a sua idade?|                  30|facebook messeger| 1567|   bot|
|2021-04-28|2021-04-28 09:46:51|0007ebdf52111b7f1...|de116548-c058-48c...|Quais são seus po...|         minior-blue|facebook messeger| 1567|   bot|
|2021-04-28|2021-04-28 12:59:42|0007ebdf52111b7f1...|de116548-c058-48c...|      Qual seu nome?|             Gabriel|facebook messeger| 1567|   bot|
|2021-04-28|2021-04-28 13:51:56|0007ebdf52111b7f1...|de116548-c058-48c...|  Qual a sua cidade?|       foz do iguacu|facebook messeger| 1567|   bot|
|2021-04-30|2021-04-30 14:15:02|000b29832b77f1815...|2f2245f8-4505-42e...|   Qual a sua idade?|                  55|         telegram| 1567|   bot|
|2021-04-30|2021-04-30 16:41:12|000b29832b77f1815...|2f2245f8-4505-42e...|Quais são seus po...|     keldeo-resolute|         telegram| 1567|   bot|
|2021-04-30|2021-04-30 19:13:54|000b29832b77f1815...|2f2245f8-4505-42e...|      Qual seu nome?|           Guilherme|         telegram| 1567|   bot|
|2021-04-30|2021-04-30 20:00:59|000b29832b77f1815...|2f2245f8-4505-42e...|  Qual a sua cidade?|              franca|         telegram| 1567|   bot|
|2021-03-10|2021-03-10 10:47:54|000f08196eb55c0ad...|f1d8d0b0-3caf-4ac...|  Qual a sua cidade?|               serra|        instagram| 1567|   bot|
|2021-03-10|2021-03-10 11:43:45|000f08196eb55c0ad...|f1d8d0b0-3caf-4ac...|Quais são seus po...|rapidash-galar, s...|        instagram| 1567|   bot|
+----------+-------------------+--------------------+--------------------+--------------------+--------------------+-----------------+-----+------+
only showing top 30 rows

Note that we don't have only bot questions in the `messageText` column because someone can give multiple answers to the Pokémon question (as said in the documentation) before the Chatbot replied. This is going to be fixed next.

### Pokémon Treatment

We will fix the problem mentioned above by creating a separated `pokemon` dataset:

In [17]:
pokemon = spark.sql("""
    WITH prep AS (
    SELECT 
        userId,
        conversationId,
        CASE 
            WHEN messageTextAnswer IS NOT NULL THEN messageTextAnswer
            ELSE messageText
        END AS pokemon
    FROM
        chatbot_treated
    WHERE 
        messageText= 'Quais são seus pokemons favoritos?' OR source='user'
    )
    SELECT * FROM prep
""")

pokemon.createOrReplaceTempView('pokemon')
pokemon.show(30, truncate=False)

+--------------------------------+------------------------------------+------------------------------------+
|userId                          |conversationId                      |pokemon                             |
+--------------------------------+------------------------------------+------------------------------------+
|0001a55b006e0badacdd32412b1333bf|e40467df-6f1f-4c41-9a05-0a371218b568|fearow florges sudowoodo            |
|00037981db6fa4f247d261420252db49|31fea68a-a79d-4457-b544-a3bcf217b288|ninjask                             |
|0004013912834f551f715d07e75548ce|b5d4e68c-177d-4fe7-b5de-524fd441ec18|carnivine hippopotas                |
|00052c60aafed1bee9aab35a7fe114c1|a4387219-be30-4126-bc93-65fa86c8a49b|electrode                           |
|0007a057c85be431b676ed7f7de1ea97|7957d94d-1639-4510-a0b7-7caab7a05671|barboach, minun, necrozma-ultra     |
|0007ebdf52111b7f142966d4365206ed|de116548-c058-48ce-9e4e-9db67cc9cc42|minior-blue                         |
|000b29832b77f18153e9772ff686286b|2f2245f8-4505-42e3-8f65-503e9e7791a2|keldeo-resolute                     |
|000f08196eb55c0ada6b215050036c8e|f1d8d0b0-3caf-4ac6-9ce2-5e21ec12b87e|rapidash-galar, shedinja, sharpedo  |
|000fc4e4810212bef07e90f90ed878af|56e00a03-f955-4281-8667-a722c254bc05|poliwhirl                           |
|0010bd3852ab651cbd975d3ae2e62b3a|9a381d74-c452-442a-86db-e827fdda056b|minior-red-meteor                   |
|001517711040d5584ddf5549e05a223a|31bff8bc-ef74-4155-8a77-0cf00393dae2|venusaur-mega                       |
|0015f8c7040d4c06d8754cba67bc17dd|8df1710b-9e62-4128-b9da-f94fb367f50d|swoobat, cloyster, necrozma-ultra   |
|00176811d2ccd06a0513124fe7b4c282|7b42042c-0cb7-4ffb-ac8b-9d3dc4a73728|dubwool                             |
|001cbc78812df569ae19a97658b76d39|be27cbbd-3eeb-497f-ae99-c16fd1bf7589|magearna-original                   |
|001cd2df9d7965a77b1502dc34361fb6|61209972-207d-4084-9e57-3f400d15c6e1|gible                               |
|001e5f94ea9780e48bd5cbef4487f9fe|21a86367-d480-4170-aaa8-6c44940ad7f5|minior-red-meteor                   |
|00201f95692d7dd073d8caca6af99c86|91d0bffe-fa2e-4784-8c7f-f6875b68b68d|servine, growlithe, tentacool       |
|002633769ce2d9bfa459d5faa2b542d9|84fc1c00-e84f-411d-adc0-3373fbf223f3|hakamo-o, excadrill                 |
|002727175a6f262dc2e153354444609f|3b0f6a51-255f-4689-8af2-f164a83a90b4|goomy                               |
|0028e4efeb626a7e850e07ea6a8ff1ca|03edc322-057d-4561-b1fa-772b9eb23c27|morpeko-hangry, hattrem             |
|002bd67c793914ca96c7f9dccc997646|90c38fb5-1e9c-4e89-9970-1a159defc55c|trevenant                           |
|002e2f81dd62983fe2ce411498612126|5a837a50-8b80-408a-aaa1-2c640522f824|togedemaru-totem uxie               |
|003011408b8ffdaa3e84f2c471765401|d3892561-bf4c-496b-8d91-8886a6650a6e|charjabug, dragalge, indeedee-male  |
|0034856b8d9f7e0f9172a9dfa90cc774|5f0efcaf-d249-4817-9bf2-56c3fe95f3ab|thievul, pikachu-sinnoh-cap, linoone|
|0035b842d47dd1bc9dbbd868e615eded|4d69f183-80d2-48fd-84fb-a10b583680f9|scraggy solosis                     |
|003640c4a9badb4716efa8b3a4addfd0|b6319d2b-f3e5-4e34-b700-0950cd12f857|ninetales, yveltal, carnivine       |
|003846da6f931f195490c2cf7080f24d|89195af0-83ee-4fec-87c6-fb966b7aaea9|necrozma-dawn                       |
|00397ca4be503f6b63e2c74b5b4c4455|084319fb-0e82-4bbe-a0ed-8cbc41c8cd88|espeon gorebyss                     |
|003c426d46b086a3103c138b2f0cf6a5|9d56dff7-ad9b-43cd-a4a7-5686b72ca733|chatot, rotom-wash, giratina-altered|
|00428c864d493284c51bf5559dd50193|e5b1ac42-d070-49e2-af97-c93a42b90ec8|tympole, muk, drakloak              |
+--------------------------------+------------------------------------+------------------------------------+
only showing top 30 rows

As you can see above, we have a `pokemon` column with Pokémons for each user and conversation. Note that we have rows with the same `userId` and `conversationId`; this happens because the `pokemon` column is just the **raw** data from the conversation (meaning that the user sent 2 or more separate messages, each one with only one Pokémon).

In the next step we are going to fix this (by making each combination of `userId` and `conversationId` unique across each row). To do that, we leverage [Spark UDFs](https://spark.apache.org/docs/3.1.3/api/python/reference/api/pyspark.sql.functions.udf.html).

In [18]:
@F.udf(returnType=T.ArrayType(elementType=T.StringType()))
def pokemon_treatment(pokemon):
    if ',' in pokemon:
        return pokemon.replace(' ','').split(',')
    else:
        return pokemon.replace(' ',',').split(',')

In [19]:
pokemon_treated = pokemon.select('userId','conversationId', 'pokemon', pokemon_treatment('pokemon').alias('pokemon_treated'))
pokemon_treated = pokemon_treated.groupBy('userId','conversationId').agg(F.collect_list('pokemon_treated').alias('pokemon_list'))
pokemon_treated = pokemon_treated.select('userId', F.flatten('pokemon_list').alias('pokemon_list'))
pokemon_treated.createOrReplaceTempView('pokemon_treated')
pokemon_treated.show(30, truncate=False)

+--------------------------------+-----------------------------------------------+
|userId                          |pokemon_list                                   |
+--------------------------------+-----------------------------------------------+
|0001a55b006e0badacdd32412b1333bf|[fearow, florges, sudowoodo]                   |
|0002a74240acbcc71caa2ec9dc9ede30|[raikou, miltank, silvally]                    |
|00037981db6fa4f247d261420252db49|[ninjask]                                      |
|00052c60aafed1bee9aab35a7fe114c1|[electrode]                                    |
|0007a057c85be431b676ed7f7de1ea97|[barboach, minun, necrozma-ultra]              |
|0008aa3c55fe166fb0173c9a8ebf025a|[pidgeotto]                                    |
|0008b5872bde10f0a64fddc114852262|[cacnea, cofagrigus]                           |
|000b1797c1571ff8693064ea2bbdec48|[stunfisk-galar, gothitelle, lombre]           |
|000b29832b77f18153e9772ff686286b|[keldeo-resolute]                              |
|000b78cddafd33f0cf0be82e606eaabf|[calyrex]                                      |
|000e2873ad640b5c9589d8e956aa5295|[claydol]                                      |
|0010bd3852ab651cbd975d3ae2e62b3a|[minior-red-meteor]                            |
|00110d07268a46afdaa0c76fce8cda1b|[copperajah, nidorina]                         |
|00132808e34530253560d3aaea69f2f2|[nosepass]                                     |
|0014235fb2263d8b8172222c3c9966ba|[houndour]                                     |
|00167535c3ac8389cb4c18e47297733e|[geodude-alola]                                |
|0016a48569e36408a9b4f09150a1e955|[rayquaza, stonjourner]                        |
|001c80676d327d373d36d1aa2ec518b3|[murkrow]                                      |
|001cbc78812df569ae19a97658b76d39|[magearna-original]                            |
|00244bbdfb071ef1dbb7b7005f7d93b6|[crabrawler]                                   |
|002727175a6f262dc2e153354444609f|[goomy]                                        |
|00278d98ee07f867c180011a974e5225|[poochyena]                                    |
|0028c4be8a2f9174cdef87dcf63f814d|[shaymin-land, unown, growlithe]               |
|002bd8dc9f1c50c709d4eb3299e97dd2|[grimer]                                       |
|003011408b8ffdaa3e84f2c471765401|[charjabug, dragalge, indeedee-male]           |
|00301a1d14cb2436ca65b7c09527c0bb|[fraxure]                                      |
|003327269f02d140f38c8881a1698bd3|[mantine, abomasnow-mega, minior-indigo-meteor]|
|0035b842d47dd1bc9dbbd868e615eded|[scraggy, solosis]                             |
|003640c4a9badb4716efa8b3a4addfd0|[ninetales, yveltal, carnivine]                |
|003c426d46b086a3103c138b2f0cf6a5|[chatot, rotom-wash, giratina-altered]         |
+--------------------------------+-----------------------------------------------+
only showing top 30 rows

Now we have the `pokemon` column that we wanted: each row has all the Pokémons that an user answered in some conversation.

As we can see below, the `pokemon_list` column is indeed a `array`:

In [20]:
pokemon_treated.printSchema()

root
 |-- userId: string (nullable = true)
 |-- pokemon_list: array (nullable = false)
 |    |-- element: string (containsNull = true)

Next, we are doing the same for the other two things that the Chatbot asked the users about: `age` and `city`.

## Age

Let's select our users ages by using the corresponding Chatbot question as reference:

In [21]:
age = spark.sql("""
SELECT
    userId,
    conversationId,
    CAST(messageTextAnswer AS integer) as age
FROM chatbot_treated
WHERE messageText='Qual a sua idade?'
GROUP BY 1,2,3
""")
age.createOrReplaceTempView('age')

In [22]:
spark.sql("SELECT age, COUNT(*) AS count FROM age GROUP BY 1 ORDER BY 1").show(100)

+----+-----+
| age|count|
+----+-----+
|null|    3|
|  18| 1291|
|  19| 1245|
|  20| 1247|
|  21| 1343|
|  22| 1354|
|  23| 1341|
|  24| 1297|
|  25| 1354|
|  26| 1351|
|  27| 1321|
|  28| 1296|
|  29| 1331|
|  30| 1374|
|  31| 1353|
|  32| 1330|
|  33| 1265|
|  34| 1280|
|  35| 1288|
|  36| 1271|
|  37| 1356|
|  38| 1329|
|  39| 1321|
|  40| 1264|
|  41| 1380|
|  42| 1314|
|  43| 1351|
|  44| 1324|
|  45| 1342|
|  46| 1242|
|  47| 1283|
|  48| 1266|
|  49| 1329|
|  50| 1398|
|  51| 1288|
|  52| 1241|
|  53| 1374|
|  54| 1338|
|  55| 1320|
+----+-----+

We see that we have 3 'false positives' in our `age` dataframe. Since this represents 3/50000 ~ 0.006% of our data - thus irrelevant for any business metric - we will filter them out from our final dataset.

The `users_to_filter` dataset will contain all `userId` that should not be in the final dataset.

In [23]:
users_to_filter = spark.sql("""
SELECT
    userId
FROM age
WHERE age IS NULL
""")
users_to_filter.createOrReplaceTempView('users_to_filter')

In [24]:
spark.sql("""SELECT * FROM users_to_filter""").show(truncate=False)

+--------------------------------+
|userId                          |
+--------------------------------+
|7f90ccd2b68cc9e4a2bf5d2ddb293f58|
|fbba7d7a4445bd91a5e7bd560a6b766e|
|f753f32e057fe1ee68a16d8852521c94|
+--------------------------------+

## City

Next, we do the same for the `city` dimension. As we shall see below, we will need to do some more advanced treatment.

First, let's select the cities:

In [25]:
city = spark.sql("""
SELECT
    userId,
    conversationId,
    messageTextAnswer as city
FROM chatbot_treated
WHERE messageText='Qual a sua cidade?'
GROUP BY 1,2,3
""")
city.createOrReplaceTempView('city')

In [26]:
spark.sql("SELECT COUNT (DISTINCT city) FROM city").show()

+--------------------+
|count(DISTINCT city)|
+--------------------+
|                 301|
+--------------------+

As we see above, we have about 300 different cities. Let's give them a look.

In [27]:
spark.sql("SELECT DISTINCT city FROM city ORDER BY 1").show(305, truncate=False)

+---------------------+
|city                 |
+---------------------+
|21                   |
|Abaete               |
|Abaeté               |
|Americana            |
|Ananindeua           |
|Anapolis             |
|Anápolis             |
|Aracaju              |
|Barueri              |
|Bauru                |
|Belem                |
|Belo Horizonte       |
|Belém                |
|Betim                |
|Blumenau             |
|Boa Vista            |
|Brasilia             |
|Brasília             |
|Camacari             |
|Camaçari             |
|Campina Grande       |
|Campinas             |
|Campo Grande         |
|Campos               |
|Canoas               |
|Carapicuiba          |
|Carapicuíba          |
|Cariacica            |
|Caruaru              |
|Cascavel             |
|Caucaia              |
|Caxias do Sul        |
|Contagem             |
|Crato                |
|Cuiaba               |
|Cuiabá               |
|Curitiba             |
|Diadema              |
|Feira de Santana     |
|Florianopolis        |
|Florianópolis        |
|Fortaleza            |
|Foz do Iguacu        |
|Foz do Iguaçu        |
|Franca               |
|Goiania              |
|Goiânia              |
|Governador Valadares |
|Gravatai             |
|Gravataí             |
|Guaruja              |
|Guarujá              |
|Guarulhos            |
|Iguacu               |
|Iguaçu               |
|Imperatriz           |
|Ipatinga             |
|Itaquaquecetuba      |
|Jaboatao             |
|Jaboatão             |
|Joao Pessoa          |
|Joinvile             |
|João Pessoa          |
|Juazeiro do Norte    |
|Juiz de Fora         |
|Jundiai              |
|Jundiaí              |
|Limeira              |
|Londrina             |
|Macapa               |
|Macapá               |
|Maceio               |
|Maceió               |
|Manaus               |
|Maraba               |
|Marabá               |
|Maringa              |
|Maringá              |
|Maua                 |
|Mauá                 |
|Mogi das Cruzes      |
|Montes Claros        |
|Mossoro              |
|Mossoró              |
|Natal                |
|Niteroi              |
|Niterói              |
|Olinda               |
|Osasco               |
|Palmas               |
|Parnamirim           |
|Paulista             |
|Pelotas              |
|Petrolina            |
|Petropolis           |
|Petrópolis           |
|Piracicaba           |
|Ponta Grossa         |
|Porto Alegre         |
|Porto Velho          |
|Praia Grande         |
|Recife               |
|Ribeirao Preto       |
|Ribeirao das Neves   |
|Ribeirão Prêto       |
|Ribeirão das Neves   |
|Rio Branco           |
|Rio de Janeiro       |
|Salvador             |
|Santa Maria          |
|Santo Andre          |
|Santo André          |
|Santos               |
|Sao Bernardo do Campo|
|Sao Goncalo          |
|Sao Jose do Rio Preto|
|Sao Jose dos Campos  |
|Sao Jose dos Pinhais |
|Sao Luis             |
|Sao Paulo            |
|Sao Vicente          |
|Serra                |
|Sorocaba             |
|Sumare               |
|Sumaré               |
|Suzano               |
|São Bernardo do Campo|
|São Gonçalo          |
|São José do Rio Prêto|
|São José dos Campos  |
|São José dos Pinhais |
|São Luís             |
|São Paulo            |
|São Vicente          |
|Taboao da Serra      |
|Taboão da Serra      |
|Taubate              |
|Taubaté              |
|Teresina             |
|Uberaba              |
|Uberlandia           |
|Uberlândia           |
|Viamao               |
|Viamão               |
|Vila Velha           |
|Vitoria              |
|Vitoria da Conquista |
|Vitória              |
|Vitória da Conquista |
|Volta Redonda        |
|abaete               |
|abaeté               |
|americana            |
|ananindeua           |
|anapolis             |
|anápolis             |
|aracaju              |
|barueri              |
|bauru                |
|belem                |
|belo horizonte       |
|belém                |
|betim                |
|blumenau             |
|boa vista            |
|brasilia             |
|brasília             |
|camacari             |
|camaçari             |
|campina grande       |
|campinas             |
|campo grande         |
|campos               |
|canoas               |
|carapicuiba          |
|carapicuíba          |
|cariacica            |
|caruaru              |
|cascavel             |
|caucaia              |
|caxias do sul        |
|contagem             |
|crato                |
|cuiaba               |
|cuiabá               |
|curitiba             |
|diadema              |
|feira de santana     |
|florianopolis        |
|florianópolis        |
|fortaleza            |
|foz do iguacu        |
|foz do iguaçu        |
|franca               |
|goiania              |
|goiânia              |
|governador valadares |
|gravatai             |
|gravataí             |
|guaruja              |
|guarujá              |
|guarulhos            |
|iguacu               |
|iguaçu               |
|imperatriz           |
|ipatinga             |
|itaquaquecetuba      |
|jaboatao             |
|jaboatão             |
|joao pessoa          |
|joinvile             |
|joão pessoa          |
|juazeiro do norte    |
|juiz de fora         |
|jundiai              |
|jundiaí              |
|limeira              |
|londrina             |
|macapa               |
|macapá               |
|maceio               |
|maceió               |
|manaus               |
|maraba               |
|marabá               |
|maria clara          |
|maria luiza          |
|maringa              |
|maringá              |
|maua                 |
|mauá                 |
|mogi das cruzes      |
|montes claros        |
|mossoro              |
|mossoró              |
|natal                |
|niteroi              |
|niterói              |
|olinda               |
|osasco               |
|palmas               |
|parnamirim           |
|paulista             |
|pelotas              |
|petrolina            |
|petropolis           |
|petrópolis           |
|piracicaba           |
|ponta grossa         |
|porto alegre         |
|porto velho          |
|praia grande         |
|recife               |
|ribeirao das neves   |
|ribeirao preto       |
|ribeirão das neves   |
|ribeirão prêto       |
|rio branco           |
|rio de janeiro       |
|salvador             |
|santa maria          |
|santo andre          |
|santo andré          |
|santos               |
|sao bernardo do campo|
|sao goncalo          |
|sao jose do rio preto|
|sao jose dos campos  |
|sao jose dos pinhais |
|sao luis             |
|sao paulo            |
|sao vicente          |
|serra                |
|sorocaba             |
|sumare               |
|sumaré               |
|suzano               |
|são bernardo do campo|
|são gonçalo          |
|são josé do rio prêto|
|são josé dos campos  |
|são josé dos pinhais |
|são luís             |
|são paulo            |
|são vicente          |
|taboao da serra      |
|taboão da serra      |
|taubate              |
|taubaté              |
|teresina             |
|uberaba              |
|uberlandia           |
|uberlândia           |
|viamao               |
|viamão               |
|vila velha           |
|vitoria              |
|vitoria da conquista |
|vitória              |
|vitória da conquista |
|volta redonda        |
+---------------------+

We see above that, as the documentation said, we have cities with different spellings. However, it seems that all of the different spellings **do not** misspell - accents excluded - the cities name; for example, for the city of São Paulo we seem to only have the variations 'Sao Paulo', 'são paulo' and 'sao paulo').

So, if we transform all city names to lowercase without accent (e.g. São Paulo -> sao paulo) we will fix all of those different spellings. 

Once again, to do such transformation, we will make use of Spark UDFs.

In [28]:
@F.udf
def city_treatment(city):
    if city:
        city = city.lower()
        normalized = unicodedata.normalize("NFD", city)
        decoded = normalized.encode("ascii", "ignore").decode("utf-8")
        return decoded
    else:
        return city

In [29]:
city = city.withColumn('city', city_treatment('city'))
city.createOrReplaceTempView('city')
city.select('city').distinct().orderBy(F.asc('city')).show(300)

+--------------------+
|                city|
+--------------------+
|                  21|
|              abaete|
|           americana|
|          ananindeua|
|            anapolis|
|             aracaju|
|             barueri|
|               bauru|
|               belem|
|      belo horizonte|
|               betim|
|            blumenau|
|           boa vista|
|            brasilia|
|            camacari|
|      campina grande|
|            campinas|
|        campo grande|
|              campos|
|              canoas|
|         carapicuiba|
|           cariacica|
|             caruaru|
|            cascavel|
|             caucaia|
|       caxias do sul|
|            contagem|
|               crato|
|              cuiaba|
|            curitiba|
|             diadema|
|    feira de santana|
|       florianopolis|
|           fortaleza|
|       foz do iguacu|
|              franca|
|             goiania|
|governador valadares|
|            gravatai|
|             guaruja|
|           guarulhos|
|              iguacu|
|          imperatriz|
|            ipatinga|
|     itaquaquecetuba|
|            jaboatao|
|         joao pessoa|
|            joinvile|
|   juazeiro do norte|
|        juiz de fora|
|             jundiai|
|             limeira|
|            londrina|
|              macapa|
|              maceio|
|              manaus|
|              maraba|
|         maria clara|
|         maria luiza|
|             maringa|
|                maua|
|     mogi das cruzes|
|       montes claros|
|             mossoro|
|               natal|
|             niteroi|
|              olinda|
|              osasco|
|              palmas|
|          parnamirim|
|            paulista|
|             pelotas|
|           petrolina|
|          petropolis|
|          piracicaba|
|        ponta grossa|
|        porto alegre|
|         porto velho|
|        praia grande|
|              recife|
|  ribeirao das neves|
|      ribeirao preto|
|          rio branco|
|      rio de janeiro|
|            salvador|
|         santa maria|
|         santo andre|
|              santos|
|sao bernardo do c...|
|         sao goncalo|
|sao jose do rio p...|
| sao jose dos campos|
|sao jose dos pinhais|
|            sao luis|
|           sao paulo|
|         sao vicente|
|               serra|
|            sorocaba|
|              sumare|
|              suzano|
|     taboao da serra|
|             taubate|
|            teresina|
|             uberaba|
|          uberlandia|
|              viamao|
|          vila velha|
|             vitoria|
|vitoria da conquista|
|       volta redonda|
+--------------------+

With the exception of the odd city `21` our transformation seems to be worked.

Now we add the corresponding `userId` of the city `21` to our `users_to_filter` dataset:

In [30]:
users_to_filter = spark.sql("""
SELECT
    userId
FROM city
WHERE city = 21
UNION
SELECT userId FROM users_to_filter
""")
users_to_filter.createOrReplaceTempView('users_to_filter')
users_to_filter.show()

+--------------------+
|              userId|
+--------------------+
|d4aa22a26cbcbc560...|
|7f90ccd2b68cc9e4a...|
|fbba7d7a4445bd91a...|
|f753f32e057fe1ee6...|
+--------------------+

## Final Dataframe

With the Pokémon dimension treated and the `city` and `age` dimensions extracted, we can build our final dataframe. Notice that we are excluding the 4 users from it.

In [31]:
final = spark.sql("""
WITH users AS (
SELECT
    min(date) as date,
    userId,
    conversationId,
    channel,
    botId
FROM chatbot_treated
WHERE userId NOT IN (SELECT userId FROM users_to_filter)
GROUP BY 2,3,4,5
)

SELECT 
    users.date,
    users.userId,
    users.conversationId,
    channel,
    pokemon_list AS favourite_pokemon,
    age,
    city,
    botId
FROM 
    users
LEFT JOIN pokemon_treated ON users.userId = pokemon_treated.userId
LEFT JOIN age ON users.userId = age.userId
LEFT JOIN city ON users.userId = city.userId
""")

final.show()

+----------+--------------------+--------------------+-----------------+--------------------+---+-----------------+-----+
|      date|              userId|      conversationId|          channel|   favourite_pokemon|age|             city|botId|
+----------+--------------------+--------------------+-----------------+--------------------+---+-----------------+-----+
|2021-03-12|0001a55b006e0bada...|e40467df-6f1f-4c4...|              sms|[fearow, florges,...| 38|     campo grande| 1567|
|2021-04-19|00037981db6fa4f24...|31fea68a-a79d-445...|        instagram|           [ninjask]| 23|         brasilia| 1567|
|2021-04-15|0004013912834f551...|b5d4e68c-177d-4fe...|              sms|[carnivine, hippo...| 28|           palmas| 1567|
|2021-04-02|00052c60aafed1bee...|a4387219-be30-412...|         whatsapp|         [electrode]| 55|           suzano| 1567|
|2021-03-10|0007a057c85be431b...|7957d94d-1639-451...|facebook messeger|[barboach, minun,...| 39|        boa vista| 1567|
|2021-04-28|0007ebdf52111b7f1...|de116548-c058-48c...|facebook messeger|       [minior-blue]| 30|    foz do iguacu| 1567|
|2021-04-30|000b29832b77f1815...|2f2245f8-4505-42e...|         telegram|   [keldeo-resolute]| 55|           franca| 1567|
|2021-03-10|000f08196eb55c0ad...|f1d8d0b0-3caf-4ac...|        instagram|[rapidash-galar, ...| 49|            serra| 1567|
|2021-04-09|000fc4e4810212bef...|56e00a03-f955-428...|         telegram|         [poliwhirl]| 25|            natal| 1567|
|2021-03-01|0010bd3852ab651cb...|9a381d74-c452-442...|         telegram| [minior-red-meteor]| 18|      sao goncalo| 1567|
|2021-03-18|001517711040d5584...|31bff8bc-ef74-415...|        instagram|     [venusaur-mega]| 19|         sao luis| 1567|
|2021-04-19|0015f8c7040d4c06d...|8df1710b-9e62-412...|facebook messeger|[swoobat, cloyste...| 45|          uberaba| 1567|
|2021-03-24|00176811d2ccd06a0...|7b42042c-0cb7-4ff...|              sms|           [dubwool]| 39|          niteroi| 1567|
|2021-04-02|001cbc78812df569a...|be27cbbd-3eeb-497...|              sms| [magearna-original]| 41|           canoas| 1567|
|2021-03-27|001cd2df9d7965a77...|61209972-207d-408...|              sms|             [gible]| 48|           sumare| 1567|
|2021-04-12|001e5f94ea9780e48...|21a86367-d480-417...|         whatsapp| [minior-red-meteor]| 21|juazeiro do norte| 1567|
|2021-04-06|00201f95692d7dd07...|91d0bffe-fa2e-478...|         telegram|[servine, growlit...| 24|          aracaju| 1567|
|2021-03-13|002633769ce2d9bfa...|84fc1c00-e84f-411...|         telegram|[hakamo-o, excadr...| 22|      santa maria| 1567|
|2021-04-24|002727175a6f262dc...|3b0f6a51-255f-468...|         whatsapp|             [goomy]| 33|          barueri| 1567|
|2021-03-20|0028e4efeb626a7e8...|03edc322-057d-456...|        instagram|[morpeko-hangry, ...| 21|      porto velho| 1567|
+----------+--------------------+--------------------+-----------------+--------------------+---+-----------------+-----+
only showing top 20 rows

In [32]:
final.count()

49996

As we expected, we have 4 users less than the original 50000. 

Now, we save the data in `parquet`. Before that, lets see how much partitions our `final` dataframe have.

In [33]:
final.rdd.getNumPartitions()

2

Not bad. Since the data itself is small, we will reduce to one partition in order to save it.

In [34]:
final.coalesce(1).write.parquet("/app/files/treated_data", mode='overwrite')

Lastly, we stop our program.

In [ ]:
spark.stop()